html,body{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0; 
}
.box{
    background-color: rgb(248, 132, 0);
    padding: 20px;
    margin: 20px;
}
.text2{
    color: rgb(20, 20, 20);
    text-align: center;
    margin-bottom: 30px;
}
.number-input{
    margin-bottom: 10px;
}
.output{
    padding: 20px;    
    margin: 20px;
}